REACT_APP_SUPABASE_URL=https://lqnvhoqqntbscvtcjfpq.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxxbnZob3FxbnRic2N2dGNqZnBxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjczMzIxMDMsImV4cCI6MjA4MjkwODEwM30.fbdRdgmDSuKO2mWD8rd9RgVgGT7O1GadYAfN--Hrako